#menucontainer {
float: left;
width: 9%;
}

.contentcontainer {
margin-left: 10%;
width: 90%;
}

#tagcontainer a {
margin-right: 0.5em;
}

.tags ul {
margin: 2em;
}

.tags li {
display: inline;
list-style-type: none;
padding-right: 1em;
}