<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head eid="head"></head>
<body>
<div eid="header"></div>

<div class="contentcontainer">

	<div class="main">
		<div id="pageheader">
            <img eid="banner-image" aid="banner-image" class="pageheaderimg" alt="banner image" src="" />
        </div>
	
		<div class="content">
			<div class="title">
				<h1 eid="title" aid="title" class="p-name"></h1>
				<h2 eid="sub-title" aid="sub-title"></h2>
			</div>
	
			<div class="postmeta">
				<a aid="permalink-url" href="">Permalink</a>
			</div>
	
			<div eid="post-content">

			</div>
		</div>
	</div>
	
</div>

<div eid="footer"></div>
</body>
</html>